# Required packages
security_scans_required_packages:
  - openscap-scanner
  - scap-security-guide
  - lynx
  - findutils
  - procps
  - passwd
  - hostname
  - systemd-journal-remote
  - sysstat

# Security scans base directory
security_scans_base_dir: /var/log/security-scans

# OpenSCAP configuration | https://github.com/ComplianceAsCode/content/tree/master/products
security_scans_oscap_target_os: rhel9 ######### rhel8, rhel10, al2023 (Amazon) ### full list @ url above
security_scans_oscap_profile: cis_server_l1 ### cis (CIS Server Level 2), stig (DISA STIG) ######### full list @ url above

# Lynis configuration
security_scans_lynis_repo_url: "https://github.com/CISOfy/lynis.git"
security_scans_lynis_branch: master
security_scans_lynis_install_path: /opt/lynis

# Retention policy
security_scans_retention_enabled: true
security_scans_retention_count: 12 # Keep this number of complete scans (lynis.report, oscap.xml, oscap.html)
security_scans_compress_files: true
security_scans_failed_retention_hours: 168 # Keep failed scans for 1 week (24*7)
security_scans_failed_retention_count: 3 # But never more than 3 failed scans
